.AxisStyle line{
  stroke: black;
}

.AxisStyle path{
  stroke: black;
}

.AxisStyle text{
  font-size: 0.9rem;  
  /*font-size: inherit;*/
  color: red;
  fill: #313131;
  /*font-family: inherit;   */
  font-family: 'Lato', sans-serif;
}

.ChartHeading {
  font-family: 'Lato', sans-serif;   
 /* font-family: inherit; */
 /* font-weight: 400;    */
  margin-bottom: .5rem;  
  line-height: 120%;     
  color: #313131;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word; /* Ensures very long heading words do not overflow into content. */
/*  margin-top: 1rem;    */
/*  font-size: 1.5rem;    */
  fill: #313131;
}

.ChartHeading {
  font-weight: 700;
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

.ChartSubHeading text{
  font-size: 0.9rem;
  color: black;
  font-family: inherit;   
  /*font-family: 'Lato', sans-serif; */
  font-style: italic;
  margin-bottom: .5rem;
}

.Source {
  font-size: 0.65rem;
  font-family: inherit;
  fill: rgb(112, 112, 112);
}